:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);

  --font-family: 'Manrope', sans-serif;
  --font-size: 0.8125rem;
  --font-size-title: 17px;

  --size-xs: 1rem;
  --size-sm: 1.5rem;
  --size-md: 2rem;
  --size-lg: 2.25rem;
  --size-xl: 2.5rem;

  --border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2 {
  font-weight: 700;
  color: var(--very-dark-grayish-blue);
}

body {
  display: grid;
  place-content: center;
  min-height: 100dvh;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 1.5;
  background: var(--light-grayish-blue);
  color: var(--desaturated-dark-blue);
}

.article {
  max-width: 328px; /* fix */
  background: var(--white);
  border-radius: var(--border-radius);
  box-shadow: 0 var(--size-md) var(--size-md) 0 rgba(0, 0, 0, 0.05);
}
.article_img {
  aspect-ratio: 5 / 3.05;
  object-fit: cover;
  object-position: 0% 25%;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.article_content {
  padding: var(--size-lg) var(--size-md) var(--size-xs);
  h1 {
    font-size: var(--size-xs);
  }
  p {
    margin-block-start: 1em;
  }
}
.article_author {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--size-xs);
  padding: var(--size-xs) var(--size-md);
  color: var(--grayish-blue);
  h2 {
    font-size: 1em;
  }
}

.avatar {
  width: var(--size-xl);
  aspect-ratio: 1;
  border-radius: 50%;
}

.share {
  appearance: none;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-inline-start: auto;
  display: grid;
  place-items: center;
  width: var(--size-md);
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--light-grayish-blue);
}

/* Links */
.share_links {
  display: none;
  position: absolute;
  inset: 0 0;
  align-items: center;
  gap: var(--size-xs);
  padding-inline: var(--size-md);
  background: var(--very-dark-grayish-blue);
  color: var(--white);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  span {
    text-transform: uppercase;
    letter-spacing: 0.4em;
    color: var(--light-grayish-blue);
  }
  a {
    width: 1.25rem;
  }
  &.active {
    display: flex;
  }
}

/* Check if there's any 'active' class and apply style to share button */
.article_author:has(.active) .share {
  position: relative;
  z-index: 1;
  background: var(--desaturated-dark-blue);
  img {
    filter: brightness(0) invert(1);
  }
}

/* Desktop */
@media (width > 960px) {
  .article {
    display: grid;
    grid-template-columns: 285px 1fr;
    grid-template-rows: auto 1fr;
    max-width: 730px;
  }
  .article_img {
    grid-row: span 2;
    aspect-ratio: 1 / 0.98;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  }
  .article_content {
    padding: var(--size-md) var(--size-xl) var(--size-xs);
    h1 {
      font-size: 20px;
      line-height: 1.4;
    }
  }
  .article_author {
    align-self: start;
    padding: 4px var(--size-xl); /* Pixel perfect padding fix */
  }
  /* Tooltip on desktop */
  .share_links {
    inset: auto;
    left: calc(100% - 56px);
    bottom: calc(100% + var(--size-xs));
    padding: 18px var(--size-xl);
    border-radius: var(--border-radius);
    translate: -50%;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0 4px 8px);
    &::after {
      content: '';
      position: absolute;
      left: calc(50% - 13px);
      bottom: -25px;
      border: 13px solid transparent;
      border-block-start-color: var(--very-dark-grayish-blue);
    }
  }
}
